<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>VinoVault</title>
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/search.css">
        <link rel="stylesheet" href="/styles/auth.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
       </head>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/nav') %>
    <main>
        <br><br>
       
        <div class="welcome-message">
            <h1>Welcome to VinoVault</h1>
            <p>Your ultimate destination for discovering and exploring wines from around the world. <br>
            Whether you're a seasoned wine enthusiast or a curious beginner, VinoVault is your gateway to a world of exquisite flavors and aromas.<br><br>
            Discover the rich flavors, aromas, and stories behind each bottle. <br>
            Our curated collection features a diverse range of wines, from classic varietals to unique blends, each carefully selected to showcase the best of their respective regions. <br>
            </p>
            
            <div class="hero-image">
                <img src="images/winery.png" alt="Winery">
            </div>
            
            <h1>Your Personal Wine Vault</h1>  
            <p>      
            If you are a new vino here, you must register to access the vault. <br>         
            Register to explore our extensive collection of wines, from classic varietals to unique blends, and embark on a journey of discovery. <br>
            <br>
            If you have already registered, log in to continue your journey through our curated wine selections. Remember to add your favourites to your vault!<br>
            </p>
        </div>
        <div class="auth-main">
            <div class="auth-container">
                <div class="auth-box">
                    <h2>New to VinoVault?</h2>
                    <p>Create an account to start your journey through the world of wines.</p>
                    <a href="/auth/new" class="auth-button">Register</a>
                </div>
                <div class="auth-box">
                    <h2>Already a Vino?</h2>
                    <p>Login to your vault to view your curated collection of your favorite wines.</p>
                    <a href="/auth/" class="auth-button">Login</a>
                </div>
                <div class="auth-box">
                    <h2>Leaving so soon?</h2>
                    <p>We hope to see you again soon. Safe travels!</p>
                    <a href="/auth/exit" class="auth-button">Exit</a>
                </div>
                </div>
        </div>
        <% if (typeof success_msg !== 'undefined' && success_msg) { %>
            <div class="alert alert-success"><%= success_msg %></div>
        <% } %>
        <% if (typeof error_msg !== 'undefined' && error_msg) { %>
            <div class="alert alert-danger"><%= error_msg %></div>
        <% } %>
    </main>
    <div class="footer-wrapper">
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>
