<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="search content">
            <form action="/search" method="POST">
                </br> 
                <% if (theResults.length > 0) { %>
                    <% theResults.forEach(item => { %>
                        <b><%= item.make %> <%= item.model %></b> - 
                        <%= item.description %> </br>
                    <% }) %>
                <% } else { %>
                    <p>No search results.</p>
                <% } %>
            </br><label>Auto Search:</label></br>
            <label>Keyword:
                <input type="text" id="keyword" name="keyword" value="<%= locals.keyword %>" required>
            </label>
            </br>
            <button>POST</button>
        </form>
        </div>
        <%- include('./partials/status.ejs') %>
        </br>
        <%- include('./partials/auth.ejs') %>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>